.sidebar {
  color: #fff;
  min-width: 16rem;
  font-weight: 300;

  &-load {
    display: flex;
    justify-content: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    .active {
      color: red;
    }

    a {
      color: #fff;
      padding: 0.2rem 1rem;
      text-transform: capitalize;
    }
  }

  &-content {
    position: sticky;
    top: 1rem;
    padding: 1rem;
  }
}
